
html
{
  display: table;
  margin: auto;
}

body
{
  min-width: 100px;
  max-width: 800px;
  padding: 20px;
  display: table-cell;
}

p
{
  padding-top: 10px;
  line-height: 140%;
  text-align: justify;
}

p::first-word 
{
  font-weight: bold;
  font-family: Georgia;
  font-size: 110%;
}
