html
{
  display: table;
  margin: auto;
}

body 
{
  min-width: 100px;
  max-width: 800px;
  padding: 20px;
  display: table;
}

.column 
{
  float: left;
  width: 45%;
  min-width: 95px;
  padding: 10px;
}

.row:after 
{
  content: "";
  display: table;
  clear: both;
}

p
{
  padding-top: 20px;
  line-height: 140%;
}

p::first-letter 
{
  font-weight: bold;
  font-family: Georgia;
  font-size: 105%;
}

pre
{
  background-color: #F0F0F0;
  padding-left: 10px;
}
